# Ignora todos os arquivos e pastas que começam com '.'
.**/

# Exclusões específicas
.vscode-test/**
node_modules/
src/
out/
test/
tests/
*.ts
*.tsx
*.js.map
*.ts.map

# Arquivos de configuração e outros
*.log
*.lock
yarn.lock
package-lock.json
*.config.js
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# Compilações da extensão
*.vsix
